boto3==1.26.76
botocore==1.29.76
click==8.0.4
fsspec==2023.4.0
intake==0.6.8
ipython==8.12.3
joblib==1.2.0
kedro==0.19.2
matplotlib==3.7.2
mlflow==2.6.0
numpy==1.25.2
pandas==2.0.3
Pillow==9.4.0
Pillow==10.2.0
python-dotenv==1.0.1
PyYAML==6.0
PyYAML==6.0.1
Requests==2.31.0
scikit_learn==1.2.2
scipy==1.11.1
setuptools==68.0.0
skimage==0.0
tifffile==2024.2.12
torch==2.0.1
torchdata==0.6.1
torchvision==0.15.2
tqdm==4.66.1
